@use "../global/colors";

article.featured {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
  border-bottom: 1px solid #d5e2e2;
  img {
    width: 100%;
    border: 4px solid colors.$color_3;
    border-radius: 8px;
  }
}
